includes:
    - vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
#    doctrine:
#        objectManagerLoader: tests/DocumentManagerLoader.php
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/testsUserBundleTests_KernelTestDebugContainer.xml
    excludes_analyse:
        - src/Model/User/UserManager.php
