<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/8.1/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
>

    <php>
        <env name="KERNEL_CLASS" value="Tests\Kernel" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="dev"/>
        <env name="APP_SECRET" value="c795775bdd0d074b6e6244ec8823a330"/>
        <env name="SMTP_TRANSPORT" value="smtp"/>
        <env name="SMTP_HOST" value="127.0.0.1"/>
        <env name="SMTP_PORT" value="1025"/>
        <env name="SMTP_USER" value="null"/>
        <env name="SMTP_PASSWORD" value="null"/>
    </php>

    <testsuite name="default">
        <directory suffix="Test.php">tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
